<html>
    <head>
        <meta charset="utf-8">
        <title>registro</title>
        <style>
            body{
                background-color:blanchedalmond;
            }
            .registro-menu{
                text-align:center;
                border-radius:20px;
                margin:auto;
                width:500px;
                border:2px solid black;
                box-shadow:1px 1px 10px black;
            }
        </style>
    </head>
    <body>
        <form class="registro">
            <div class="registro-menu">
                <div class="registro-top">
                    <h1>Registe-se abaixo</h1>
                </div>
                <div class="inputss">
                    <label>Email</label>
                    <input type="text" placeholder=" email válido"><br><br>
                    <label>Senha</label>
                    <input type="password" placeholder=" senha">
                </div>
            </div>
        </form>
    </body>
</html>